# Backend ignore
backend/target/
backend/.mvn/
backend/.classpath
backend/.project
backend/.settings/
backend/bin/

# Frontend ignore
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# OS files
.DS_Store
Thumbs.db

# IDE settings
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
